#shipping_policy_generator #result .result-preview {
    font-size: 12px;
}

#shipping_policy_generator #result .result-preview .shipping-policy-section {
    padding-bottom: 0px;
}

#shipping_policy_generator #result .result-preview h2 {
    font-size: 16px;
}

#shipping_policy_generator #result .result-preview h4 {
    font-size: 14px;
    margin-bottom: 4px;
}

#shipping_policy_generator #result .result-preview h6 {
    font-size: 12px;
    margin-bottom: 4px;
}

#shipping_policy_generator .btn-copy {
    background-color: #ff9100;
    padding: 6px 18px;
    border: none;
}

#shipping_policy_generator .btn-copy:focus {
    opacity: 0.5;
}

#shipping_policy_generator .form-check-label {
    cursor: pointer;
}

#shipping_policy_generator .navigation a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#shipping_policy_generator .shipping-policy-title {
    padding-bottom: 12px;
}

#shipping_policy_generator .shipping-policy-section {
    padding-bottom: 26px;
}

#shipping_policy_generator .preview-content {
    height: 200px;
    background-color: white;
    font-size: 4px;
    overflow: hidden;
    padding: 10px;
}

#shipping_policy_generator .preview-content h2 {
    font-size: 8px;
}

#shipping_policy_generator .preview-content h4 {
    font-size: 6px;
    margin-bottom: 4px;
}

#shipping_policy_generator .preview-content h6 {
    font-size: 4px;
}

#shipping_policy_generator .preview-content .mb-3 {
    margin-bottom: 8px !important;
}

#shipping_policy_generator .preview-content p {
    margin-bottom: 4px;
}

#shipping_policy_generator .preview-content .shipping-policy-title {
    padding-bottom: 4px;
}

#shipping_policy_generator .preview-content .shipping-policy-section {
    padding-bottom: 6px;
}

#shipping_policy_generator #result_modal .modal-fullscreen {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 85%;
}

#shipping_policy_generator .btn {
    background-color: #ff9100 !important;
    border: 0;
    color: white;
}

/* #shipping_policy_generator a {
    color: #ff9100 !important;
} */