.form-check-label {
    cursor: pointer;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.shipping-policy-section {
    padding-bottom: 10px;
}

.preview-content {
    height: 200px;
    background-color: white;
    font-size: 4px;
    overflow: hidden;
    padding: 10px;
}

.preview-content h1 {
    font-size: 8px;
}

.preview-content h2 {
    font-size: 6px;
    margin-bottom: 4px;
}

.preview-content h4 {
    font-size: 4px;
}

.preview-content .mb-3 {
    margin-bottom: 8px !important;
}

.preview-content p {
    margin-bottom: 4px;
}

.preview-content .shipping-policy-section {
    padding-bottom: 6px;
}

#result_modal .modal-fullscreen {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 85%;
}