#result .result-preview {
    font-size: 12px;
}

#result .result-preview .shipping-policy-section {
    padding-bottom: 0px;
}

#result .result-preview h2{
    font-size: 16px;
}

#result .result-preview h4{
    font-size: 14px;
    margin-bottom: 4px;
}

#result .result-preview h6{
    font-size: 12px;
    margin-bottom: 4px;
}

.btn-copy {
    background-color: #ff9100;
    padding: 6px 18px;
    border: none;
}

.form-check-label {
    cursor: pointer;
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.shipping-policy-title {
    padding-bottom: 12px;
}

.shipping-policy-section {
    padding-bottom: 26px;
}

.preview-content {
    height: 200px;
    background-color: white;
    font-size: 4px;
    overflow: hidden;
    padding: 10px;
}

.preview-content h2 {
    font-size: 8px;
}

.preview-content h4 {
    font-size: 6px;
    margin-bottom: 4px;
}

.preview-content h6 {
    font-size: 4px;
}

.preview-content .mb-3 {
    margin-bottom: 8px !important;
}

.preview-content p {
    margin-bottom: 4px;
}

.preview-content .shipping-policy-title {
    padding-bottom: 4px;
}

.preview-content .shipping-policy-section {
    padding-bottom: 6px;
}

#result_modal .modal-fullscreen {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 85%;
}